@import url("/css/main.css");

body {
  overflow-x: hidden;
}

main {
  all: unset;
}

.student-list {
  margin: 1rem auto;
  padding: 1rem;
  width: calc(100% - 4rem);
  background-color: var(--main-bg);
}

.student {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2rem 1rem;
  border-bottom: 2px solid var(--hover-bg);
  cursor: pointer;
}

.student p > span{
  margin-right: 1rem;
}

.student p{
  text-transform: uppercase;
}

.student:hover {
  border-bottom: 1px solid var(--second-bg);
  background-color: var(--hover-bg);
  filter: blur(1px);
}
