<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    @import url('/css/main.css');
  </style>
<script  src="/js/main.js" defer></script> </head>

<body>
    <%- include('../partials/header') %>  <main>
    <div class="navpane">
      <% if (classes.length > 0){%>
        <div class="navlinks">
        <% classes.forEach(_class => { %>
          <a href="modules/<%= _class.name %>">
              <%= _class.name %>
            </a>
        <% }); %>
      </div>
     <% } else {%>
      <h3>No classes registered here</h3>
      <% } %>
      <br>
    </div>
  </main>
    <%- include  ('../partials/footer') %>

</body>
</html>

</html>