<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    @import url('/css/main.css');
  </style>
<script  src="/js/main.js" defer></script> </head>

<body>
    <%- include('../partials/header') %>  <main>
    <div class="navpane">
      <% if (courses.length > 0){%>
        <div class="navlinks">
        <% for (let course of courses) { %>
            <a href="classes/<%= course.name %> ">
              <%= course.name %>
            </a>
        <% } %>
      </div>
     <% } else {%>
      <h3>No courses registered here</h3>
      <% } %>
      <br>
    </div>
  </main>
    <%- include  ('../partials/footer') %>

</body>
</html>

</html>