<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      @import url("/css/main.css");
    </style>
    <script src="/js/main.js" defer></script>
  </head>

  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="nav">
        <form action="/teacher-registration" method="post" id="teachersForm">
          <h2>Teacher Registration</h2>
          <div class="formcheck">
            <label for="name"> Teacher's Name: </label>
            <input type="text" id="name" name="name" placeholder="Full Name" />
          </div>
          <div class="formcheck">
            <label for="identificationNumber"> ID Number: </label>
            <input
              type="text"
              id="identificationNumber"
              name="identificationNumber"
              placeholder="Identification Number"
            />
          </div>
          <div class="formcheck">
            <label for="department"> Department: </label>
            <datalist id="departments">
              <% for( let department of departments ) { %>
              <option value="<%= department.code %>">
                <%= department.name %>
              </option>
              <% } %>
            </datalist>
            <input
              list="departments"
              type="text"
              id="department"
              name="department"
              placeholder="Eg. Telecom"
            />
          </div>
          <div class="formcheck">
            <label for="password"> Password: </label>
            <input
              type="text"
              id="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <button id="submitButton" type="submit">REGISTER</button><br />
          <a href="/teacher-login">Have an account? Login Instead</a>
        </form>
        <br />
      </div>
    </main>
    <%- include ('../partials/footer') %>
  </body>
</html>
