<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Record Attendance</title>
    <style>
      @import url("/css/record-attendance.css");
    </style>
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <form action="/assign-attendance" method="post">
        <div class="formcheck">
          <label for="fingerprint">Fingerprint <data></data>:</label>
          <input type="text" id="fingerprint" name="fingerprint" />
        </div>
        <button type="submit">Submit</button>
      </form>
      <div class="finish">
        <button class="finish-button" onclick="window.location.href = `/home`">
          Finish
        </button>
      </div>
    </main>
    <%- include ('../partials/footer') %>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const inputs = document.querySelectorAll("input");

        inputs.forEach((inputElement) => {
          // Add focus event listener
          inputElement.addEventListener("focus", function () {
            this.classList.add("focused");
          });

          // Add blur event listener
          inputElement.addEventListener("blur", function () {
            this.classList.remove("focused");
          });
        });
      });
    </script>
  </body>
</html>
