<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    @import url('/css/students.css');
  </style>
  <script src="/js/main.js" defer></script>
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <div class="container">
        <% if (students.length> 0){%>
          <div class="student-list">
            <% for (let student of students) { %>
              <div class="student">
                <p style="text-transform: uppercase;">
                  <span style="color: rgb(61, 194, 61);color: rgb(61, 194, 61);">
                    <%= student.registrationnumber %>
                  </span>
                  <%= student.name %>
                </p>
              </div>
              <% } %>
          </div>
          <% } else {%>
            <h3>No students registered here</h3>
            <% } %>
              <br>
      </div>
    </main>
    <%- include ('../partials/footer') %>

</body>

</html>

</html>